
/* Game Task Bar */

.game-task-bar {
	position: fixed;
	bottom: 0px;
	left: 0px;
	width: 100%;
	height: 32px;
	z-index: 300;
}

.game-task-bar .smart-button {
	width: 72px;
	height: 24px;
}

.game-task-bar .trayicon-panel {
	max-width: 95px;
	height: 25px;
}

.game-task-bar .trayicon-panel > div {
	height: 26px;
}

.task-bar-window-button {
	height: 26px;
	behavior: taskbarbutton;
	align-self: center;
}

.task-bar-window-button-pressed {
	background-color: white;
	font-weight: bold;
}

.task-bar-window-button > span {
	align-self: center;
}


/* Smart main menu */

.game-smart-main-menu {
	position: fixed;
	bottom: 28px;
	left: 0px;
	z-index: 301;
	display: none;
}

.game-smart-main-menu.showed {
}

.game-smart-main-menu .innercontainer {
	width: 285px;
	height: 332px;
	display: flex;
	flex-direction: row;
}

.game-smart-main-menu .left-title {
	background-color: #86878C;
	width: 35px;
}

.game-smart-main-menu .right-menu {
	flex: 1;
}

.menu-hover-area {
	height: 54px;
}
.menu-hover-area:hover {
	background-color: #00007F;
	color: white;
}

/* Modal blackwall */

.modal-black-wall {
	position: fixed;
	top: 0px;
	left: 0px;
	bottom: 0px;
	right: 0px;
	z-index: 400;
	opacity: .9;
	background-image: url('tile2x2.png');
	background-repeat: repeat;
}

/* Window routine */

.horizontal-window-resizer {
	height: 2px;
	width: 100%;
	background-color: transparent;
	cursor: n-resize;
}

.vertical-window-resizer {
	width: 2px;
	height: 100%;
	background-color: transparent;
	cursor: e-resize;
}

/* Common Layout */

.flex-column {
	display: flex;
	flex-direction: column;
}

.flex-row {
	display: flex;
	flex-direction: row;
}

.flex-1 {
	flex: 1;
}

.flex-2 {
	flex: 2;
}

.item-center {
	align-self: center;
}

.item-end {
	align-self: end;
}

.margin-left-0 {
	margin-left: 0px;
}

.margin-left-1 {
	margin-left: 1px;
}

.margin-left-2 {
	margin-left: 2px;
}

.margin-left-3 {
	margin-left: 3px;
}

.margin-left-4 {
	margin-left: 4px;
}

.margin-left-5 {
	margin-left: 5px;
}

.margin-left-6 {
	margin-left: 6px;
}

.margin-left-7 {
	margin-left: 7px;
}

.margin-left-8 {
	margin-left: 8px;
}

.margin-left-9 {
	margin-left: 9px;
}

.margin-left-10 {
	margin-left: 10px;
}

.margin-left-11 {
	margin-left: 11px;
}

.margin-left-12 {
	margin-left: 12px;
}

.margin-left-13 {
	margin-left: 13px;
}

.margin-left-14 {
	margin-left: 14px;
}

.margin-left-15 {
	margin-left: 15px;
}

.margin-left-16 {
	margin-left: 16px;
}

.margin-top-0 {
	margin-top: 0px;
}

.margin-top-1 {
	margin-top: 1px;
}

.margin-top-2 {
	margin-top: 2px;
}

.margin-top-3 {
	margin-top: 3px;
}

.margin-top-4 {
	margin-top: 4px;
}

.margin-top-5 {
	margin-top: 5px;
}

.margin-top-6 {
	margin-top: 6px;
}

.margin-top-7 {
	margin-top: 7px;
}

.margin-top-8 {
	margin-top: 8px;
}

.margin-top-9 {
	margin-top: 9px;
}

.margin-top-10 {
	margin-top: 10px;
}

.margin-top-11 {
	margin-top: 11px;
}

.margin-top-12 {
	margin-top: 12px;
}

.margin-top-13 {
	margin-top: 13px;
}

.margin-top-14 {
	margin-top: 14px;
}

.margin-top-15 {
	margin-top: 15px;
}

.margin-top-16 {
	margin-top: 16px;
}

.margin-top-17 {
	margin-top: 17px;
}

.margin-top-18 {
	margin-top: 18px;
}

.margin-top-19 {
	margin-top: 19px;
}

.margin-top-20 {
	margin-top: 20px;
}

.margin-bottom-0 {
	margin-bottom: 0px;
}

.margin-bottom-1 {
	margin-bottom: 1px;
}

.margin-bottom-2 {
	margin-bottom: 2px;
}

.margin-bottom-3 {
	margin-bottom: 3px;
}

.margin-bottom-4 {
	margin-bottom: 4px;
}

.margin-bottom-5 {
	margin-bottom: 5px;
}

.margin-bottom-6 {
	margin-bottom: 6px;
}

.margin-bottom-7 {
	margin-bottom: 7px;
}

.margin-bottom-8 {
	margin-bottom: 8px;
}

.margin-bottom-9 {
	margin-bottom: 9px;
}

.margin-bottom-10 {
	margin-bottom: 10px;
}

.margin-bottom-11 {
	margin-bottom: 11px;
}

.margin-bottom-12 {
	margin-bottom: 12px;
}

.margin-bottom-13 {
	margin-bottom: 13px;
}

.margin-bottom-14 {
	margin-bottom: 14px;
}

.margin-bottom-15 {
	margin-bottom: 15px;
}

.margin-bottom-16 {
	margin-bottom: 16px;
}

.margin-bottom-17 {
	margin-bottom: 17px;
}

.margin-bottom-18 {
	margin-bottom: 18px;
}

.margin-bottom-19 {
	margin-bottom: 19px;
}

.margin-bottom-20 {
	margin-bottom: 20px;
}

.margin-right-0 {
	margin-right: 0px;
}

.margin-right-1 {
	margin-right: 1px;
}

.margin-right-2 {
	margin-right: 2px;
}

.margin-right-3 {
	margin-right: 3px;
}

.margin-right-4 {
	margin-right: 4px;
}

.margin-right-5 {
	margin-right: 5px;
}

.margin-right-6 {
	margin-right: 6px;
}

.margin-right-7 {
	margin-right: 7px;
}

.width-full {
	width: 100%;
}

.height-full {
	height: 100%;
}

/* Common text*/

.text-bold {
	font-weight: bold;
}

.text-middle-size {
	font-size: 11px;
}

.text-middle-plus-size {
	font-size: 12px;
}

.text-middle-plus-plus-size {
	font-size: 14px;
}

.text-large-size {
	font-size: 15px;
}

.text-large-plus-size {
	font-size: 18px;
}

.text-os-size {
	font-size: 24px;
	font-weight: bold;
	color: #BFC0C5;
}

.text-right-align {
	text-align: right;
}

.vertical-text {
	display: block;
	transform: rotate(-90deg);
	transform-origin: 0% 0%;
	margin-right: -139px;
	margin-bottom: -22px;
}