
/* Game Task Bar */

.game-task-bar {
	position: fixed;
	bottom: 0px;
	left: 0px;
	width: 100%;
	height: 32px;
	z-index: 200;
}

.game-task-bar .smart-button {
	width: 72px;
	height: 24px;
}

.game-task-bar .trayicon-panel {
	width: 84px;
	height: 24px;
}

.game-task-bar .trayicon-panel > div {
	height: 26px;
}

/* Smart main menu */

.game-smart-main-menu {
	position: fixed;
	bottom: 28px;
	left: 0px;
	z-index: 201;
	/*display: none;*/
}

.game-smart-main-menu.showed {
}

.game-smart-main-menu .innercontainer {
	width: 285px;
	height: 332px;
	display: flex;
	flex-direction: row;
}

.game-smart-main-menu .left-title {
	background-color: #86878C;
	width: 35px;
}

.game-smart-main-menu .right-menu {
	flex: 1;
}

.menu-hover-area {
	height: 54px;
}
.menu-hover-area:hover {
	background-color: #00007F;
	color: white;
}

/* Common Layout */

.flex-column {
	display: flex;
	flex-direction: column;
}

.flex-row {
	display: flex;
	flex-direction: row;
}

.flex-1 {
	flex: 1;
}

.flex-2 {
	flex: 2;
}

.item-center {
	align-self: center;
}

.item-end {
	align-self: end;
}

.margin-left-1 {
	margin-left: 1px;
}

.margin-left-2 {
	margin-left: 2px;
}

.margin-left-3 {
	margin-left: 3px;
}

.margin-left-4 {
	margin-left: 4px;
}

.margin-left-5 {
	margin-left: 5px;
}

.margin-left-6 {
	margin-left: 6px;
}

.margin-left-7 {
	margin-left: 7px;
}

.margin-left-8 {
	margin-left: 8px;
}

.margin-left-9 {
	margin-left: 9px;
}

.margin-left-10 {
	margin-left: 10px;
}

.margin-left-11 {
	margin-left: 11px;
}

.margin-left-12 {
	margin-left: 12px;
}

.margin-left-13 {
	margin-left: 13px;
}

.margin-left-14 {
	margin-left: 14px;
}

.margin-left-15 {
	margin-left: 15px;
}

.margin-left-16 {
	margin-left: 16px;
}

.margin-top-1 {
	margin-top: 1px;
}

.margin-top-2 {
	margin-top: 2px;
}

.margin-top-3 {
	margin-top: 3px;
}

.margin-top-4 {
	margin-top: 4px;
}

.margin-top-5 {
	margin-top: 5px;
}

.margin-top-6 {
	margin-top: 6px;
}

.margin-top-7 {
	margin-top: 7px;
}

.margin-top-8 {
	margin-top: 8px;
}

.margin-top-9 {
	margin-top: 9px;
}

.margin-top-10 {
	margin-top: 10px;
}

.margin-right-1 {
	margin-right: 1px;
}

.margin-right-2 {
	margin-right: 2px;
}

.width-full {
	width: 100%;
}

.height-full {
	height: 100%;
}


/* Common text*/

.text-bold {
	font-weight: bold;
}

.text-middle-size {
	font-size: 11px;
}

.text-middle-plus-size {
	font-size: 12px;
}

.text-middle-plus-plus-size {
	font-size: 14px;
}

.text-large-size {
	font-size: 15px;
}

.text-large-plus-size {
	font-size: 18px;
}

.text-os-size {
	font-size: 24px;
	font-weight: bold;
	color: #BFC0C5;
}

.text-right-align {
	text-align: right;
}

.vertical-text {
	display: block;
	transform: rotate(-90deg);
	transform-origin: 0% 0%;
	margin-right: -139px;
	margin-bottom: -22px;
}