/* Lines */

.horizontal-line {
	height: 0px;
}	
.horizontal-line .first-line {
	height: 0px;
	border-top-width: 1px;
	border-right-width: 0;
	border-left-width: 0;
	border-bottom-width: 0;
	border-style: solid;
	border-top-color: #85858D;			
}
.horizontal-line .second-line {
	height: 0px;
	border-top-width: 1px;
	border-right-width: 0;
	border-left-width: 0;
	border-bottom-width: 0;
	border-style: solid;
	border-color: #FAF9FF;		
}

.vertical-line {
	width: 0px;
	display: flex;
	flex-direction: row;
}
	
.vertical-line .first-line {
	width: 0px;
	height: 100%;
	border-top-width: 0;
	border-right-width: 0;
	border-left-width: 1px;
	border-bottom-width: 0;
	border-style: solid;
	border-top-color: #85858D;
}

.vertical-line .second-line {
	width: 0px;
	height: 100%;
	border-top-width: 0;
	border-right-width: 0;
	border-left-width: 1px;
	border-bottom-width: 0;
	border-style: solid;
	border-color: #FAF9FF;
}

.dash-rectangle {
	border-width: 1px;
	border-style: dashed;
	border-color: black;
}

.horizontal-dash-line {
	border-top-width: 1px;
	border-right-width: 0;
	border-left-width: 0;
	border-bottom-width: 0;
	border-style: dashed;
	border-color: black;
}
.vertical-dash-line {
	border-top-width: 0;
	border-right-width: 0;
	border-left-width: 1px;
	border-bottom-width: 0;
	border-style: dashed;
	border-color: black;
}

/* Panels */

.panel {
	border-width: 1px;
	border-style: solid;
	border-top-color: #7F787F;
	border-bottom-color: white;
	border-right-color: white;
	border-left-color: #7F787F;
}
.reverted-panel {
	border-width: 1px;
	border-style: solid;
	border-top-color: white;
	border-bottom-color: #7F787F;
	border-right-color: #7F787F;
	border-left-color: white;
}

.window-panel {
	background-color: #BFB8BF;
	border-width: 1px;
	border-style: solid;
	border-top-color: #C3C3C3;
	border-left-color: #C3C3C3;
	border-right-color: black;
	border-bottom-color: black;
}	
.window-panel .inner-panel {
	border-width: 1px;
	border-style: solid;
	border-top-color: white;
	border-left-color: white;
	border-right-color: #404040;
	border-bottom-color: #404040;
}

.menu-outer-panel {
	background-color: #BFB8BF;
	border-width: 1px;
	border-style: solid;
	border-top-color: #C6DDDC;
	border-left-color: #C6DDDC;
	border-right-color: black;
	border-bottom-color: black;
}
.menu-middle-panel {
	border-width: 1px;
	border-style: solid;
	border-top-color: white;
	border-left-color: white;
	border-right-color: black;
	border-bottom-color: black;
}
.menu-inner-panel {
	border-width: 1px;
	border-style: solid;
	border-top-color: #BFB8BF;
	border-left-color: #BFB8BF;
	border-right-color: #7B7B7B;
	border-bottom-color: #7B7B7B;
}

.button-idle-panel {
	background-color: #BFB8BF;
	border-width: 1px;
	border-style: solid;
	border-top-color: #FFF8FF;
	border-left-color: #FFF8FF;
	border-right-color: black;
	border-bottom-color: black;
}
.button-idle-panel > div {
	border-top-width: 0;
	border-left-width: 0;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-style: solid;
	border-right-color: #7B7B7B;
	border-bottom-color: #7B7B7B;
}
.button-pressed-panel {
	background-color: #BFB8BF;
	border-width: 1px;
	border-style: solid;
	border-top-color: black;
	border-left-color: black;
	border-right-color: white;
	border-bottom-color: white;
}
.button-pressed-panel > div {
	border-top-width: 1px;
	border-left-width: 1px;
	border-right-width: 0;
	border-bottom-width: 0;
	border-style: solid;
	border-top-color: #7f787f;
	border-left-color: #7f787f;
}

.grid-panel {
	background-image: url('tile2x2.png');
	background-repeat: repeat;
}

/* Window header */

.window-active-header {
	background-color: #00007F;
	color: white;
	margin-left: 1px;
	margin-top: 1px;
	margin-right: 1px;
	height: 20px;
}
.window-notactive-header {
	background-color: #7F787F;
	color: white;
	margin-left: 1px;
	margin-top: 1px;
	margin-right: 1px;
}

/* Task bar */

.task-bar {
	background-color: #BFB8BF;
	border-top-style: solid;
	border-top-width: 2;
	border-top-color: #fff8ff;
}

.task-bar-background-area {
	background-color: #00787F;
}
